<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hnu.dao.StudentMapper" >
    <select id="login" parameterType="com.hnu.model.Student" resultType="com.hnu.model.Student">
        select *
        from student
        where flag = 1 and number =#{number}
    </select>
    <select id="selectByPrimaryKey" resultType="com.hnu.pojo.StudentClass" parameterType="java.lang.String">
        select s.*,c.class_name,c.class_num
        from student s ,clazz c
        where s.flag = 1 and c.flag = 1 and s.id = #{id} and c.id = s.class_id
    </select>
    <select id="selectById" parameterType="java.lang.String" resultType="com.hnu.model.Student">
        select *
        from student
        where flag = 1 and id = #{id}

    </select>

    <update id="updateByPrimaryKey" >
      update student
      <set >
        <if test="classId != null" >
          class_id = #{classId},
        </if>
        <if test="name != null" >
          name = #{name},
        </if>
        <if test="number != null" >
          number = #{number},
        </if>
        <if test="password != null" >
          password = #{password},
        </if>
        <if test="phone != null" >
          phone = #{phone},
        </if>
        <if test="address != null" >
          address = #{address},
        </if>
        <if test="sex != null" >
          sex = #{sex,jdbcType=CHAR},
        </if>
        <if test="age != null" >
          age = #{age,jdbcType=INTEGER},
        </if>
        <if test="portrait != null" >
          portrait = #{portrait},
        </if>
        <if test="flag != null" >
          flag = #{flag,jdbcType=TINYINT},
        </if>
        <if test="createtime != null" >
          createtime = #{createtime,jdbcType=TIMESTAMP},
        </if>
        <if test="createby != null" >
          createby = #{createby},
        </if>
        <if test="updatetime != null" >
          updatetime = #{updatetime,jdbcType=TIMESTAMP},
        </if>
        <if test="updateby != null" >
          updateby = #{updateby},
        </if>
      </set>
      where id = #{id} and flag = 1
    </update>

</mapper>