<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hnu.dao.StudentMapper" >
    <select id="login" parameterType="java.lang.String" resultType="com.hnu.model.Student">
        select *
        from student
        where flag = 1 and number = #{number}
    </select>
    <select id="selectByPrimaryKey" resultType="com.hnu.pojo.StudentClass" parameterType="java.lang.String">
        select s.*,c.class_name,c.class_num
        from student s ,clazz c
        where s.flag = 1 and c.flag = 1 and s.id = #{id} and c.id = s.class_id
    </select>
    <select id="selectById" parameterType="java.lang.String" resultType="com.hnu.model.Student">
        select *
        from student
        where flag = 1 and id = #{id}

    </select>

    <update id="updateByPrimaryKey" >
      update student
      <set >
        <if test="classId != null" >
          class_id = #{classId},
        </if>
        <if test="name != null" >
          name = #{name},
        </if>
        <if test="number != null" >
          number = #{number},
        </if>
        <if test="password != null" >
          password = #{password},
        </if>
        <if test="phone != null" >
          phone = #{phone},
        </if>
        <if test="address != null" >
          address = #{address},
        </if>
        <if test="sex != null" >
          sex = #{sex,jdbcType=CHAR},
        </if>
        <if test="age != null" >
          age = #{age,jdbcType=INTEGER},
        </if>
        <if test="portrait != null" >
          portrait = #{portrait},
        </if>
        <if test="flag != null" >
          flag = #{flag,jdbcType=TINYINT},
        </if>
        <if test="createtime != null" >
          createtime = #{createtime,jdbcType=TIMESTAMP},
        </if>
        <if test="createby != null" >
          createby = #{createby},
        </if>
        <if test="updatetime != null" >
          updatetime = #{updatetime,jdbcType=TIMESTAMP},
        </if>
        <if test="updateby != null" >
          updateby = #{updateby},
        </if>
      </set>
      where id = #{id} and flag = 1
    </update>
    <select id="plan" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*)
        from student s ,teacher_class tc ,plan p
        where s.id = #{id} and s.class_id = tc.class_id and tc.teacher_id = p.teacher_id
    </select>
    <select id="wd" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*)
        from student s ,interlocution i
        where s.id = #{id} and i.student_id = s.id and i.type = 1 and i.flag = 1
    </select>
    <select id="xd" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*)
        from student s ,interlocution i
        where s.id = #{id} and i.student_id = s.id and i.type = 0 and i.flag = 1
        
    </select>
    <select id="task" parameterType="java.lang.String" resultType="java.lang.Integer">
        select count(*)
        from student s ,teacher_class tc ,task t
        where s.id = #{id} and s.class_id = tc.class_id and tc.teacher_id = t.teacher_id and t.flag = 1
        
    </select>
    
    
    <select id="taskList" parameterType="java.lang.String" resultType="com.hnu.model.StudentTask">
        select *
        from student_task
        where flag = 1 and student_id = #{studentId}
    </select>

    <select id="xwdList" parameterType="java.lang.String" resultType="com.hnu.model.Interlocution">
        select *
        from interlocution
        where flag = 1  and student_id = #{studentId}
    </select>









</mapper>