<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hnu.dao.TaskMapper" >

    <select id="selectByPrimaryKey" resultType="com.hnu.model.Task" parameterType="java.lang.String">
        select *
        from task
        where flag = 1 and id = #{id}
    </select>

    <select id="selectBystudent" parameterType="java.lang.String" resultType="com.hnu.model.Task">
        select t.*
        from task t,student s,teacher_class tc
        where t.flag = 1 and s.flag = 1 and tc.flag = 1 and tc.class_id = s.class_id and t.teacher_id = tc.teacher_id and s.id = #{id}
    </select>



</mapper>