<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hnu.dao.TeacherMapper" >

    <select id="findByTeacherId" resultType="com.hnu.model.Clazz" parameterType="java.lang.String">
        select c.*
        from teacher_class t ,clazz c
        where t.flag = 1 and c.flag = 1 and teacher_id = #{teacherId} and c.id = t.class_id
        ;
    </select>

</mapper>