<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hnu.dao.TeacherMapper">


    <select id="findById" parameterType="java.lang.String" resultType="com.hnu.model.Teacher">
        select *
        from teacher
        where id = #{id} and flag = 1
    </select>

    <select id="findByTeacherId" resultType="com.hnu.model.Clazz" parameterType="java.lang.String">
        select c.*
        from teacher_class t ,clazz c
        where t.flag = 1 and c.flag = 1 and teacher_id = #{teacherId} and c.id = t.class_id
        ;
    </select>

    <select id="login" parameterType="java.lang.String" resultType="com.hnu.model.Teacher">
        select * from teacher
        where flag = 1 and number = #{number}
        ;
    </select>
    <update id="updateInfo" parameterType="com.hnu.model.Teacher">
        update teacher
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="number != null">
                number = #{number},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="portrait != null">
                portrait = #{portrait},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="flag != null">
                flag = #{flag},
            </if>
            <if test="createtime != null">
                createtime = #{createtime},
            </if>
            <if test="createby != null">
                createby = #{createby},
            </if>
            <if test="updatetime != null">
                updatetime = #{updatetime},
            </if>
            <if test="updateby != null">
                updateby = #{updateby},
            </if>
        </set>
        <where>
            flag = 1 and id = #{id}
        </where>
    </update>

    <!--   班级管理 -->
    <insert id="insertClass" parameterType="com.hnu.model.Clazz">
        insert into clazz
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="className != null">
                class_name,
            </if>
            <if test="classNum != null">
                class_num,
            </if>
            <if test="flag != null">
                flag,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="createby != null">
                createby,
            </if>
            <if test="updatetime != null">
                updatetime,
            </if>
            <if test="updateby != null">
                updateby,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="className != null">
                #{className},
            </if>
            <if test="classNum != null">
                #{classNum},
            </if>
            <if test="flag != null">
                #{flag},
            </if>
            <if test="createtime != null">
                #{createtime},
            </if>
            <if test="createby != null">
                #{createby},
            </if>
            <if test="updatetime != null">
                #{updatetime},
            </if>
            <if test="updateby != null">
                #{updateby},
            </if>
        </trim>
    </insert>
    <update id="deleteByClassId" parameterType="java.lang.String">
        update clazz
        set flag = 0
        where id = #{id}
    </update>
    <select id="findByClassId" parameterType="java.lang.String" resultType="com.hnu.model.Clazz">
        select * from clazz
        where flag = 1 and id = #{id};
    </select>
    <update id="alterClass" parameterType="com.hnu.model.Clazz">
        update clazz
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="className != null">
                class_name = #{className},
            </if>
            <if test="classNum != null">
                class_num = #{classNum},
            </if>
            <if test="flag != null">
                flag = #{flag},
            </if>
            <if test="createtime != null">
                createtime = #{createtime},
            </if>
            <if test="createby != null">
                createby = #{createby},
            </if>
            <if test="updatetime != null">
                updatetime = #{updatetime},
            </if>
            <if test="updateby != null">
                updateby = #{updateby},
            </if>
        </set>
        <where>
            flag = 1 and id = #{id}
        </where>
    </update>
    <select id="classList" resultType="com.hnu.model.Clazz">
        select * from clazz
        where flag = 1
    </select>

    <!--   学生模块   -->
    <select id="studentList" resultType="com.hnu.model.Student">
        select * from student
        where flag = #{flag}
    </select>
    <insert id="insertByStudent" parameterType="com.hnu.model.Student">
        insert into student
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="classId != null">
                class_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="number != null">
                number,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="portrait != null">
                portrait,
            </if>
            <if test="flag != null">
                flag,
            </if>
            <if test="createtime != null">
                createtime,
            </if>
            <if test="createby != null">
                createby,
            </if>
            <if test="updatetime != null">
                updatetime,
            </if>
            <if test="updateby != null">
                updateby,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="classId != null">
                #{classId},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="number != null">
                #{number},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="phone != null">
                #{phone},
            </if>
            <if test="address != null">
                #{address},
            </if>
            <if test="sex != null">
                #{sex},
            </if>
            <if test="age != null">
                #{age},
            </if>
            <if test="portrait != null">
                #{portrait},
            </if>
            <if test="flag != null">
                #{flag},
            </if>
            <if test="createtime != null">
                #{createtime},
            </if>
            <if test="createby != null">
                #{createby},
            </if>
            <if test="updatetime != null">
                #{updatetime},
            </if>
            <if test="updateby != null">
                #{updateby},
            </if>
        </trim>
    </insert>
    <update id="delectByStudentId" parameterType="java.lang.String">
        update student
        set flag = 0
        where id = #{id}
    </update>
    <select id="findByStudent" parameterType="java.lang.String" resultType="com.hnu.model.Student">
        select * from student
        where flag = 1 and id = #{id};
    </select>
    <update id="alertStudent" parameterType="com.hnu.model.Student">
        update student
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="classId != null">
                class_id = #{classId},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="number != null">
                number = #{number},
            </if>
            <if test="password != null">
                password = #{password},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="sex != null">
                sex = #{sex},
            </if>
            <if test="age != null">
                age = #{age},
            </if>
            <if test="portrait != null">
                portrait = #{portrait},
            </if>
            <if test="flag != null">
                flag = #{flag},
            </if>
            <if test="createtime != null">
                createtime = #{createtime},
            </if>
            <if test="createby != null">
                createby = #{createby},
            </if>
            <if test="updatetime != null">
                updatetime = #{updatetime},
            </if>
            <if test="updateby != null">
                updateby = #{updateby},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <!--   老师模块   -->
    <select id="teacherList" resultType="com.hnu.model.Teacher">
        select * from teacher
        where flag = 1
    </select>
    <insert id="insertTeacher" parameterType="com.hnu.model.Teacher">
      insert into teacher (id, name, number,
      password, phone, address,
      sex, age, portrait, status,
       createtime, createby,
      updatetime, updateby)
      values (#{id}, #{name}, #{number},
      #{password}, #{phone}, #{address},
      #{sex}, #{age}, #{portrait}, #{status},
       #{createtime}, #{createby},
      #{updatetime}, #{updateby})
    </insert>
    <update id="deleteByTeacherId" parameterType="java.lang.String" >
        update teacher
        set flag = 0
        where id = #{id}
    </update>
    <select id="findByTeacher" parameterType="java.lang.String" resultType="com.hnu.model.Teacher">
      select * from teacher
      where flag = 1 and id = #{id};
    </select>
    <update id="alterTeacher" parameterType="com.hnu.model.Teacher">
        update teacher
        <set >
            <if test="id != null" >
                id = #{id},
            </if>
            <if test="name != null" >
                name = #{name},
            </if>
            <if test="number != null" >
                number = #{number},
            </if>
            <if test="password != null" >
                password = #{password},
            </if>
            <if test="phone != null" >
                phone = #{phone},
            </if>
            <if test="address != null" >
                address = #{address},
            </if>
            <if test="sex != null" >
                sex = #{sex},
            </if>
            <if test="age != null" >
                age = #{age},
            </if>
            <if test="portrait != null" >
                portrait = #{portrait},
            </if>
            <if test="status != null" >
                status = #{status},
            </if>
            <if test="flag != null" >
                flag = #{flag},
            </if>
            <if test="createtime != null" >
                createtime = #{createtime},
            </if>
            <if test="createby != null" >
                createby = #{createby},
            </if>
            <if test="updatetime != null" >
                updatetime = #{updatetime},
            </if>
            <if test="updateby != null" >
                updateby = #{updateby},
            </if>
        </set>
        <where>
            id = #{id}
        </where>
    </update>

    <select id="teacherNum" resultType="java.lang.Integer">
        select count(*)
        from teacher
        where flag = 1 and status = 1
    </select>

    <select id="studentNum" resultType="java.lang.Integer">
        select count(*)
        from student
        where flag = 1
    </select>

    <select id="classNum" resultType="java.lang.Integer">
        select count(*)
        from clazz
        where flag = 1
    </select>

    <insert id="allotByTeacherClass" parameterType="com.hnu.model.TeacherClass">
        insert into teacher_class
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="teacherId != null" >
                teacher_id,
            </if>
            <if test="classId != null" >
                class_id,
            </if>
            <if test="flag != null" >
                flag,
            </if>
            <if test="createtime != null" >
                createtime,
            </if>
            <if test="createby != null" >
                createby,
            </if>
            <if test="updatetime != null" >
                updatetime,
            </if>
            <if test="updateby != null" >
                updateby,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id},
            </if>
            <if test="teacherId != null" >
                #{teacherId},
            </if>
            <if test="classId != null" >
                #{classId},
            </if>
            <if test="flag != null" >
                #{flag},
            </if>
            <if test="createtime != null" >
                #{createtime},
            </if>
            <if test="createby != null" >
                #{createby},
            </if>
            <if test="updatetime != null" >
                #{updatetime},
            </if>
            <if test="updateby != null" >
                #{updateby},
            </if>
        </trim>

    </insert>

    <select id="isExitTeacherClass" parameterType="java.lang.String" resultType="com.hnu.model.TeacherClass">
        select *
        from teacher_class
        where flag = 1 and class_id = #{classId}
    </select>

    <select id="list" resultType="com.hnu.model.Teacher">
        select *
        from teacher
        where flag = 1
    </select>

</mapper>