<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zpjeck.dao.UserMapper" >

    <select id="login" resultType="com.zpjeck.entity.User" parameterType="com.zpjeck.entity.User">
      select *
      from user
      where user_id=#{userId}and password=#{password}
    </select>
    <insert id="increaseUser" parameterType="com.zpjeck.entity.User" >
      INSERT INTO user(id,user_id,password,class_num,class_name,u_limit)
      VALUES(#{id},#{userId},#{password},#{classNum},#{className},#{uLimit})
    </insert>
    <delete id="delectUser"  parameterType="com.zpjeck.entity.User" >
      delete from user
      where id = #{id}

    </delete>
    <update id="updateUser" parameterType="com.zpjeck.entity.User" >
      update user
      set  class_num = #{classNum} , class_name = #{className}
        <if test="uLimit != null and uLimit != ''">
            , u_limit = #{uLimit}
        </if>
      where  id = #{id}
    </update>

    <select id="selectUser" parameterType="com.zpjeck.entity.User" resultType="com.zpjeck.entity.User">
      select *
      from user
      where user_id = #{userId}
         <if test="classNum != null and classNum != ''">
            and class_num = #{classNum}
         </if>
    </select>

    <select id="usersList" parameterType="com.zpjeck.entity.User" resultType="com.zpjeck.entity.User">
      select *
      from user
    </select>



</mapper>
